<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.knowledge.modulesystem.mapper.SystemUserMapper">

    <resultMap id="systemUser" type="com.knowledge.entitysystem.entity.SystemUser">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="account" column="account"/>
        <result property="password" column="password"/>
    </resultMap>

    <select id="getSystemUserByAccount" resultMap="systemUser" parameterType="java.lang.String">
        select * from system_user where account = #{value}
    </select>
</mapper>